{% extends 'base.html' %}




{% block import %}
{% endblock%}

{% load staticfiles %}

{% block contents %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<center>
<div class="container">
    <h1>Login</h1>

    <form method="POST" action="{% url 'login'%}">

        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        <input class="btn btn-light" type="submit" value="Login">
    </form>
</div>
</center>
{% endblock %}