<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hackaton sample</title>
        <!--head부분 css/bootstrap 스크립트 추가부분 따로 빼던가 안빼도 되고-->
        {% load staticfiles %}
         <link rel="stylesheet" href="{% static 'css/start.css' %}?ver=1.8" >
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Lato&display=swap" rel="stylesheet">
        
    </head>

    <!--body 시작-->
    <body style="margin:0px;">
    <i>검색어를 입력하세요<i>
    <!--검색어 창-->
    <form action = "{% url 'postmain' %}">
    <div class="content">
    <div class="search">
      <input type="text" class="search1" placeholder="카페를 찾으시나요?">
      <button type="submit" class="searchbtn" >
      <!--<img src="./img1.png" width="30px" height="30px">-->
      
      </button>
    </div>
  </div>
 </form>


     </body>
</html>
