{% extends 'base.html' %}
{% block import %}
{% endblock%}

         <!--1-->

         <!--<form id="content">
         <input type="text" name="input" class="input" id="search-input">
         <button type="reset" class="search" id="search-btn"></button>
         </form>-->
{% block contents %}

    
        <div class="mid mx-4 shadow p-3 mb-0 bg-white rounded">
            <div class="col-md-10 mx-auto">
                <div class="container">
                <div id="product" class="col-md-6 mx-auto">
                    <div class="text-center mt-5 mb-5">
                        <div class="product-title font-weight-bold sectionheader">
                            <h3>내용</h3>
                        </div>
                        <div class="product-description text-muted">
                           어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고어쩌고 저쩌고
                        </div>
                    </div>
                </div>
            </div>
        </div>


    

        <!--2--> 
        <div class="mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-cat mb-4 comments-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-gift mb-4 user-check-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-store mb-4 fingerprint-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고 </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end-->

   
   <!--나중에 추가할 main부분 생길시 이 container에서 작업-->
<center>
    <div class="container">
        <div class = "body">
             
        
             
        </div>
    

    </div>
</center>

<!--지울수 있으면 지우고 아니면 그냥 두고 -->
   <div class ="footer">
    <p>멋쟁이 사자처럼 메인 샘플 </p>
    <h4>SAMPLE sample sample SAMPLE</h4>
      

    </div>

 
{% endblock %}