{% extends 'base.html' %}
{% block import %}
{% endblock%}

{% load staticfiles %}

         <!--1-->

         <!--<form id="content">
         <input type="text" name="input" class="input" id="search-input">
         <button type="reset" class="search" id="search-btn"></button>
         </form>-->
{% block contents %}

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h6 class="my-0 font-weight-normal">강원 툇마루</h6>
      </div>
      <div class="card-body">
      <img src="{% static '1.jpeg'%}" height="310px" width="310px">
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h6 class="my-0 font-weight-normal">부산 비포 선셋</h6>
      </div>
      <div class="card-body">
        <img src="{% static '2.jpeg'%}" height="310px" width="310px">
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h6 class="my-0 font-weight-normal">광주 밀당</h6>
      </div>
      <div class="card-body">
       <img src="{% static '3.png'%}" height="310px" width="310px">
      </div>
    </div>
    
  </div>







    
     <!--1-->
     <div class="row">
        {% for post in postss %}
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ post.image.url }}" alt=" Card image cap">
            <div class="card-body">
            <h5>{{ post.title }}</h5>
              <p class="card-text">{{ post.summary }}</p>
              <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">카페 위치 넣는 자리 </small>
                <a class="alert alert-danger" href="{% url 'detail' post.id %}" role="button"> 자세히 보기</a>
                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

        <!--2--> 
        <div class="mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-cat mb-4 comments-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-gift mb-4 user-check-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-store mb-4 fingerprint-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고 </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end-->

   
   <!--나중에 추가할 main부분 생길시 이 container에서 작업-->
<center>
    <div class="container">
        <div class = "body">
             
        
             
        </div>
    

    </div>
</center>

<!--지울수 있으면 지우고 아니면 그냥 두고 -->
   <div class ="footer">
    <p>@copyright mju.likelion </p>
    <h6>contact us </h6>
    <h7>Email: mju@likelion.org   </h7>
    <h7>   Tel: 031-000-0000</h7>
    
      

    </div>

 
{% endblock %}