{% extends 'base.html' %}
{% block import %}
{% endblock%}

         <!--1-->

         <!--<form id="content">
         <input type="text" name="input" class="input" id="search-input">
         <button type="reset" class="search" id="search-btn"></button>
         </form>-->

{% load staticfiles %}
{% block contents %}



     <!--1-->

     <br><br>

     <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto"></p>
          <a href="#" class="stretched-link"></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>



    
     
     <!-- <div class = "row">
      {% for post_main in main_post.all %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
    
            <img src="{{ post_main.image.url }}" alt="..." class="img-thumbnail">
            <div class="card-body">
            <h5>{{ post_main.title }}</h5>
              <p class="card-text">{{ post_main.summary }}</p>
           
              <div class="d-flex justify-content-between align-items-center">
               <small class="text-muted">{{post_main.area}}</small>
                
                
              </div>
            </div>
          </div>
        </div>
   
            {% endfor %}
         </div>
      </div>-->
   
    
        
        <!--2--> 
        <div class="mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-cat mb-4 comments-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-gift mb-4 user-check-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="text-center">
                            <figure class="pt-3">
                                <i class="fas fa-store mb-4 fingerprint-icon"></i>
                            </figure>
                            <div>
                                <h5 class="font-weight-bold">내용</h5>
                            </div>
                            <div class="text-muted px-2 detail-description">
                                <p>어쩌고저쩌고는 어쩌고저쩌곤데 어쩌고저쩌고가 어쩌고저꺼고 </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end-->

   
   <!--나중에 추가할 main부분 생길시 이 container에서 작업-->
<center>
    <div class="container">
        <div class = "body">
             
        
             
        </div>
    

    </div>
</center>

<!--지울수 있으면 지우고 아니면 그냥 두고 -->
   <div class ="footer">
    <p>멋쟁이 사자처럼 메인 샘플 </p>
    <h4>SAMPLE sample sample SAMPLE</h4>
      

    </div>

 
{% endblock %}