{% extends 'base.html' %}


{% block import %}
{% endblock%}

<!--BOOT STRAP-->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
{% block contents %}
<div class="container">
    <br><br>
    <div class="alert alert-danger" role="alert">
        <h4>POST CAFE ☕️</h4>
    </div>
    <div class="alert alert-danger" role="alert">
        <h3>{{ post.title }}</h3>
        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
    </div>
    <div class="alert alert-danger" role="alert">
        <img class="img-fluid rounded mb-3 mb-md-0" style="width:100%; max-width:300px; height:100%; max-height:300px;"
            src="{{post.image.url}}" alt="">
        <br><br><br>
        <h5>{{ post.body }}</h5>
        <br>
    </div>
    <br>
      <!--댓글달기 소스는 여기에--> 
      {% for comment in comments%} 
        <div class="comment">
          <div class="date">{{comment.date}}</div>
          <strong>{{comment.author}}</strong>
          <p>{{ comment.comment }}</p>
        </div>
       
        {% endfor %}
           <br>
       <!--댓글 폼 -->
    <form action="{% url 'comment' post_id %}" method="POST"> 
      {% csrf_token %}
         <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="덧글을 남겨주세요!" name="text" id="text" aria-describedby="button-addon2">
          </input>
          <div class="input-group-append">
             <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="댓글"></input>
          </div>
      </div>
      </form>
</div>

{% endblock %}