<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "{% url 'result' %}" method="GET">
        <fieldset>
            <legend>title</legend>
            <input type="text" name = "title" placeholder = "title을 입력하세요" required>
        </fieldset>
        <br/>
        <fieldset>
            <legend>location</legend>
            <input type="text" name = "location" placeholder="location을 입력하세요" required>
        </fieldset>
        <br />
        <fieldset>
            <legend>feature</legend>
            <input type="text" name = "feature" placeholder="feature를 입력하세요" required>
        </fieldset>
        <input type="submit" value="tag searh">
    </form>
        <br/>
    <h2>현재 카페 목록</h2>
    {% for post_obj in post %}
    <fieldset>
            <legend>{{post_obj.title}}</legend>
            location: {{post_obj.location}}
            <br />
            feature: {{post_obj.feature}}
            <br />
            description: {{post_obj.description}}
            <br />
        </fieldset>
        <br />
    {% endfor %}
</body>
</html>